
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ededed;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

button#black:hover,
button#rainbow:hover,
button#white:hover,
button#grid-size:hover,
button#reset:hover {
    border: 5px solid black;
}

button#black{
    background-color: black;
    color: white;
}

button#white{
    background-color: lightpink;
}

button#rainbow {
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}

.button-container button {
    padding: 10px;
    margin: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: flex;
    flex-direction: row;
    border: 10px solid black;
    height: 600px;
    width: 600px;
    background-color: white;

}
.row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.grid-item {
    /* padding: 1em; */
    border: 1px solid black;
    text-align: center;
    flex: 1;
}

footer {
    margin-top: auto;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

footer a {
    text-decoration: none;
    color: black;
}